{% raw %}
APP_ENV={{ app_env }}
DOMAIN={{ domain }}
{% endraw %}

STACK_NAME={{cookiecutter.docker_swarm_stack_name_main}}

TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_TAG={% raw %}{{ domain }}{% endraw %}
TRAEFIK_PUBLIC_TAG={{cookiecutter.traefik_public_constraint_tag}}

{% raw %}
DOCKER_IMAGE_BACKEND={{ docker_image_backend }}
DOCKER_IMAGE_CELERYWORKER={{ docker_image_celeryworker }}
DOCKER_IMAGE_FRONTEND={{ docker_image_frontend }}
DOCKER_IMAGE_DB_DUMP={{ docker_image_db_dump }}
DOCKER_IMAGE_S3_BACKUP={{ docker_image_s3_backup }}
{% endraw %}

# Backend
BACKEND_CORS_ORIGINS={{cookiecutter.backend_cors_origins}}
PROJECT_NAME={{cookiecutter.project_name}}
{% raw %}
SECRET_KEY={{ secret_key }}
FIRST_SUPERUSER={{ first_superuser }}
FIRST_SUPERUSER_PASSWORD={{ first_superuser_password }}
SMTP_TLS=True
SMTP_PORT={% if smtp_port is defined %}{{ smtp_port }}{% else %}587{% endif %}

SMTP_HOST={% if smtp_host is defined %}{{ smtp_host }}{% endif %}

SMTP_USER={% if smtp_user is defined %}{{ smtp_user }}{% endif %}

SMTP_PASSWORD={% if smtp_password is defined %}{{ smtp_password }}{% endif %}

EMAILS_FROM_EMAIL={% if emails_from_email is defined %}{{ emails_from_email }}{% else %}"{% endraw %}{{cookiecutter.smtp_emails_from_email}}"{% raw %}{% endif %}

USERS_OPEN_REGISTRATION=False

SENTRY_DSN=

# Flower
FLOWER_BASIC_AUTH=admin:{{ first_superuser_password }}

# Postgres
POSTGRES_SERVER={{ postgres_server }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DB={{ postgres_db }}
{% endraw %}
